@tailwind base;
@tailwind components;
@tailwind utilities;

.fadein {
position:relative;

animation:animatebottom 0.4s 
}

@keyframes animatebottom{
from{
bottom:-300px;opacity:0} 
to{bottom:0;opacity:1}
}
.fadeleft {
  position:relative;  
  animation:animateleft 0.6s 
  }
  
  @keyframes animateleft{
  from{
  left:-300px;opacity:0} 
  to{left:0;opacity:1}
  }
  .fadeleftout {
    position:relative;  
    animation:fadeleftout 1s 
    }
    
    @keyframes fadeleftout{
    from{
      left:0px;opacity:1} 
    to{left:-300px;opacity:0}
    }
.dropdownShadow{
    box-shadow: 0.5px 1px 3px 1px rgba(0, 0, 0, 0.2);
}
.Divider{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.growShadow{
  box-shadow: 3px 3px 5px 5px rgba(252, 255, 240, 0.50);
}
.spinner {
  /* border: 8px solid #f3f3f3; Light grey */
  border-right: 8px dotted #f3f3f3;
  border-top: 8px dotted #f3f3f3; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.carouselContainer {
width: 500px;
}

.carouselImage{
width: 100%;
height: auto;
display: block;
}



.carouselContainer2 {
width: 300px;
}

.carouselWrapper2{
width: 100%;
padding-top: 56.25%;
/* overflow: hidden; */
position: relative;
}
.carouselWrapper2:hover{
transform: scale(1.1);
transition: all 0.5 ease-in-out;
}
.carouselImage2{
top: 0%;
left: 0%;
position: absolute;
width: 100%;
height: auto;
}
.carouselText2{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
color: white;

}


/* 
input[type=text] {
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
  @apply outline-none border-gray-100 rounded-lg w-full m-5  self-center

}

input[type=text]:focus {
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
  @apply outline-none border-gray-100  rounded-lg self-center
 
  
}
[type=password] {
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
  @apply outline-none border-gray-100 rounded-lg w-full m-5  self-center

}

input[type=password]:focus {
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
  @apply outline-none border-gray-100  rounded-lg self-center
 
  
}

input[type=email] {
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
  @apply outline-none border-gray-100 rounded-lg w-full m-5  self-center

}

input[type=email]:focus {
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
  @apply outline-none border-gray-100  rounded-lg self-center
 
  
}
 */


